figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200%;
    margin: auto;
    margin-left: -4rem;
}

figure audio{
    width: 200%;
}

figcaption{
    text-align: center;
    font-size: small;
    width: 200%;
    margin: auto;

}