#menuList{
    margin-left: -1.5rem;
    width: 90%;
    height: 100%;
    font-size: larger;
    color: black;
}

#menuList li{
    margin: 1rem 0rem;
}


.active{
    padding: 1rem;
    background: linear-gradient(to left, lightgrey , grey);
    color: white;
    border-radius: 0.5rem;
}