button{
    background-color: rgb(106, 79, 79);
    color: white;
    padding: 0.5rem;
    border-radius: 1rem;
}
/* #btnContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* #forwardBtn{
    position: absolute;
    left: 170px
}

#backwardBtn{
    position: absolute;
    left: 4px;
}

#selectBtn{
    position: absolute;
    left: 4.7rem;
    z-index: 4;
}

#menuBtn{
    position: absolute;
    top: -90px;
    left: 4.7rem;
} */